<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090622630150-85ogp8757mt2smsfc88nnrqjqgljl4oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090622630150-85ogp8757mt2smsfc88nnrqjqgljl4oe</string>
	<key>API_KEY</key>
	<string>AIzaSyDTqGSkRlNT9UvUGjLAkA3s5FUJlho7cG8</string>
	<key>GCM_SENDER_ID</key>
	<string>1090622630150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kshitiz.csc780.ProjectiOS</string>
	<key>PROJECT_ID</key>
	<string>ios-project-4b82e</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-4b82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090622630150:ios:0434374db2b26ffac41687</string>
</dict>
</plist>